@media (min-width:600px){
    #principal {
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "header" "menu" "contenido" "redes" "footer";
    }

/*Encabezado de la pagina*/
    
    header > a > h1 {
        font-size: 3.0em;
    }
    
    header > a > #logo {
        width: 100px;
        margin-left: 5px;
    }

    /*Menu de la pagina*/
    
    nav > #menu_principal {
        flex-flow: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #menu_principal > li, .submenu > li {
        border-bottom: 0px solid #142d4c73;
    }

    #menu_principal > li > a {
        margin: 15% 0%;
        font-size: 1.3em;
        color: #22267b;
    }

    .submenu > li > a {
        margin: 0% 0%;
        font-size: 1.1em;
        color: #f3f9fb;
    } 

    /* Hay algun problema de jerarquia y tengo que utilizar el primer id sino no funciona. */
    #menu_principal > #ubicacion:hover > .submenu {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        width: 75%;
        background: #22267b;
    }

    #menu_principal > #activismos:hover > .submenu {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 50%;
        background: #22267b;
    }


    /*CONTENIDO DE LA PAGINA*/

    section > div > p {
        font-size: 1.1em;
    }

    section > div > img {
        width: 80%;
    }

    #noHayGrupos>.seed, #errorBusqueda>.lupaInvalida {   /* Icono para la busqueda sin resultados */
        font-size: 10.0em;
        color: #142d4c;
    }

    .descripcion_min > p {
        font-size: 1.1em;
    }

    #hayResultados, #noHayGrupos, #errorBusqueda {
        font-size: 1.1em;
    }
    #contacto > #form_contacto, 
    #form_contacto > .btn_enviar {
        font-size: 1.1em;
    }

    #colaboracion > #form_colaboracion, 
    .form_botones > .btn_enviar,
    .form_botones > .btn_reset {
        font-size: 1.1em;
    }

    .contacto > a {
        height: 50px;
        width: 50px;
        font-size: 1.7em;
    }

    /*Visualizar redes*/

    #principal > aside {
        grid-area: redes;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
    }

    /*FOOTER DE LA PAGINA*/

    footer > cite {
        font-size: 1.0em;
    }

    footer > #autor_frase {
        margin: 0% 2% 2.0% 2%;
        font-size: 1.1em;
        text-align: right;
    }

    footer > #derechos {
        margin: 2.0% 2% 2.0% 2%;
        font-size: 1.1em;
    }

    #derechos > a {
        color: #00b906;
    }

}

@media (min-width:900px){

    header > a > h1 {
        font-size: 4.0em;
        padding: 2% 0%;
    }
    
    header > a > #logo {
        width: 120px;
    }

    #menu_principal > #ubicacion:hover > .submenu {
        width: 50%;
    }

    #menu_principal > #activismos:hover > .submenu {
        width: 35%;
    }

    #resultados > a{
        flex-flow: row-reverse;
    }

    /* campos de formulario de colaboracion*/

    #form_colaboracion > .form_campo {
        flex-flow: row;
        margin-bottom:2%;
    }
    
    #form_colaboracion > .form_seleccion {
        width: 70%;
        flex-flow: row;
        justify-content: space-evenly;
        margin: 0% 0%;
        
    }
    
    .form_seleccion > .form_check {
        margin-bottom: 2%;    
    }
    
    #form_colaboracion > .form_botonoes {
        width: 50%;
        flex-flow: row;
        justify-content: space-evenly;
    }
    
    .form_botonoes > .btn_enviar{
        margin-bottom: 7%;
    }

    .form_botonoes > .btn_reset{
        margin-bottom: 7%;
    }

    /* resultados de las busquedas por secciones*/
    
    #resultados > .info_min{
        margin-bottom:2%;
        padding: 2% 2%; 
    }
    
    .descripcion_min > p {
        margin: 2% 2% 0% 2%;
    }
    
    #resultados > a > .img_min {
        margin-bottom: 0%;
    }

    /* Descripcion ampliada de una agrupacion seleccionada*/

    article > .info_max {
        width: 100%;
        padding-top: 2%; 
        flex-flow: row;
        justify-content: space-evenly;
    }
    
    .info_max > .datos {
        font-size: 1.1em;
    }
    
    article > .descripcion_max {
        font-size: 1.1em;
    }
    
}

@media (min-width:1200px){

    #principal {
        display: grid;
        grid-template-columns: 4fr 2fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "header header" "menu menu" "contenido redes" "footer footer";
    }

    /*Encabezado de la pagina*/

    header > a > h1 {
        font-size: 5.0em;
    }
    
    header > a > #logo {
        width: 160px;
    }

    /*Menu de la pagina*/

    #principal > nav {
        display: flex;
        flex-flow: row-reverse;
    }
    
    nav > #buscador {
        padding: 1.5% 0%;
        width: 30%;
        border-bottom: 0px solid #22267b;
    }


    #menu_principal > li > a {
        font-size: 1.5em;
    }

    .submenu > li > a {  
        font-size: 1.3em;
    }

    /*CONTENIDO DE LA PAGINA*/


    #noHayGrupos>.seed, #errorBusqueda>.lupaInvalida {   /* Icono para la busqueda sin resultados */
        font-size: 14.0em;
        color: #00b906;
    }

    #contacto > #form_contacto, 
    #form_contacto > .btn_enviar {
        font-size: 1.2em;
    }

    #colaboracion > #form_colaboracion, 
    .form_botones > .btn_enviar,
    .form_botones > .btn_reset {
        font-size: 1.2em;
    }

    /* Comentarios */

    #configComentario {
        display: flex;
    }

    #comentarios {
        display: inline;
    }

    /*Redes */

    #principal aside {
     display: flex;
     justify-items: center;
     height: 100%;
    }

    /*FOOTER DE LA PAGINA*/

    footer > cite {
        font-size: 1.2em;
    }

    footer > #autor_frase {
        font-size: 1.3em;
    }

    footer > #derechos {
        margin: 1.0% 2% 1.0% 2%;
        font-size: 1.3em;
    }

    #derechos > a {
        color: #00b906;
    }
}