* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: #f3f9fb;
}

#principal {
    /* SOLUCIONAR: evitar que se vea el espacio sobrante cuando el contenido vertical de la pagina es menor al tamaño de la pantalla */
    display: grid;
    min-width: 300px;
    max-width: 1500px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header" "menu" "contenido" "footer";
}

/* ENCABEZADO DE LA PAGINA*/

#principal > header {
    grid-area: header;
    font-family: 'Bitter', serif;
    background-color: #22267b;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 160px, 150px 200px, 0px 85px;
    padding: 10px 5px;
    text-align: center;
}

header > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

header > a > h1 {
    margin: 0% 0%;
    display: inline-block;
    text-align: end;
    color: #f3f9fb;
    font-size: 2.0em;
    transform: scaleY(1.0);
}

h1 > p > span {
    color: #1ee494;
    text-decoration: underline;
}

header > a > #logo {
    width: 60px;
    margin-left: 0px;
}

/*MENU DE LA PAGINA*/

#principal > nav {
    grid-area: menu;
    background: #1ee494;
}

nav > #buscador {
    display: flex;
    justify-content: center;
    padding: 2% 0%;
    width: 100%;
    border-bottom: 3px solid #22267b;
}

#buscador > #busqueda{
    padding: 5px 10px;
}

#buscador > #lupa{
    padding: 5px 10px;
}

nav > #menu_principal {
    width: 100%;
    display: flex;
    flex-flow: column;
    text-align: center;
    font-weight: bold;
    padding: 0px 0px;
}

#menu_principal > li, .submenu > li {
    border-bottom: 3px solid #22267b;
}

#menu_principal > li > a, 
.submenu > li > a {
    display: block;
    padding: 2% 0%;
    font-size: 1.3em;
    color: #22267b;
    cursor: pointer;
}

#menu_principal > li > .submenu {
    background: #f3f9fb;
    display: none;
}

.submenu > li > a {
    font-weight: initial;
}

#menu_principal > li > a:hover {
    color: #f3f9fb;
    transition: color 1s;
    -webkit-transition: color 1s;
}

#menu_principal > li:hover > .submenu{
    display: block;
}

.submenu > li > a:hover {
    text-decoration: underline;
}

/*RED SOCIAL DE LA PAGINA*/

#principal > aside {
    min-height: 400px;
    display: none;
    background: #142d4c8c;
    padding: 2% 0%;
}

aside > h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
}

/*FOOTER DE LA PAGINA*/

#principal > footer {
    grid-area: footer;
    background:
    linear-gradient(135deg, #a96851 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #a96851 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #a96851 25%, transparent 25%),
    linear-gradient(45deg, #a96851 25%, transparent 25%);
    background-size: 90px 90px;
    background-color: #915b4a;
    font-family: 'Ubuntu', sans-serif;
    color: #f3f9fb;
}

footer > cite {
    display: block;
    padding: 2.5% 2% 0% 2%;
    font-size: .9em;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

footer > #autor_frase {
    margin: 2.5% 2% 2.5% 2%;
    font-size: 1.0em;
    text-align: center;
    font-weight: bold;
}

footer > #derechos {
    margin: 2.5% 2% 2.5% 2%;
    font-size: 1.0em;
    text-align: center;
}

#derechos > a {
    font-weight: bold;
    color: #1ee494;
}

body #ir-arriba {
    display: none;
    position: fixed;
    padding: 10px 15px;
    bottom: 20px;
    right: 20px;
    background: #ffa323;
    color: #ff5733;
    font-size: 2.0em;
    border: 7px solid #ff5733;
    box-shadow: 7px 7px 5px black;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
}